<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %></title>
</head>
<body>
    <p><%= console.log(post) %></p>
    <h1><%= post.Title %></h1>
    <p><%= post.Content %></p>
    <a href="/">뒤로가기</a>
</body>
</html>