<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
    <h1>글쓰기</h1>
    <form action="/write" method="POST">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="content">글내용:</label>
        <input type="text" id="content" name="content"><br><br>
        <input type="text" id="nickname" name="nickname" ><br><br>
        <button type="submit">작성하기</button>
    </form>
</body>
</html>
