body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

.hello {
    color: white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32CD32; /* 연두~초록색 사이 */
    padding: 10px 20px;
  }
  
  .nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  .nav-item {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* 네비게이션 바 높이를 제외한 전체 높이 */
    background-color: #f7f7f7;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #28a745;
}

.login-container p {
    margin-top: 20px;
}

.login-container a {
    color: #32CD32;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}